.wrapper {
  --border-color: var(--accents-2);
  z-index: 100;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--shadow-medium);
  border-radius: var(--geist-radius);
  font-size: 0.875rem;
  outline: none;
  background: var(--geist-background);
  border: 1px solid var(--border-color);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: var(--geist-space-gap-quarter);
}

.iconButton {
  margin-right: -12px !important;
}

:global(.dark-theme) .wrapper {
  --border-color: var(--accents-2);
}

:global(.dark-theme) .menu {
  box-shadow: none;
}

@media (max-width: 600px) {
  .menu {
    width: unset !important;
  }
}

.menu .item {
  outline: none;
  color: var(--accents-5);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 var(--geist-space-gap-quarter);
  height: 36px;
  border-radius: var(--geist-radius);
  color: var(--accents-7);
}

.item[data-selected] {
  color: var(--geist-foreground);
  background: var(--accents-2);
}

.item.error {
  color: var(--geist-error);
}

.item[aria-disabled] {
  cursor: default;
  color: var(--accents-3);
  pointer-events: none;
}

@media (max-width: 600px) {
  .menu .item {
    height: var(--geist-form-large-height);
    font-size: 1rem;
  }
}

.suffix {
  display: flex;
  margin-left: auto;
  padding-left: var(--geist-gap-half);
}

.prefix {
  display: flex;
  margin-right: var(--geist-gap-quarter);
}

.divider {
  width: 93%;
  height: 1px;
  background: var(--accents-2);
  margin: 6px auto;
}

.section > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section .title {
  display: block;
  color: var(--accents-5);
  font-size: 0.75rem;
  padding: var(--geist-gap-quarter) var(--geist-gap-half);
  padding-top: var(--geist-space-4x);
}

.loose {
  padding: var(--geist-gap-quarter) 0;
}

.loose .item {
  padding: 0 var(--geist-space-4x);
}

.loose .item[data-selected] {
  color: var(--geist-foreground);
}

.loose .divider {
  margin: var(--geist-gap-quarter) 0;
}

.divide [data-geist-menu-item] + [data-geist-menu-item] {
  border-top: 1px solid var(--accents-2);
}

.arrow {
  --triangle-color: var(--geist-background);
  position: absolute;
  width: 12px;
  height: 12px;
}

.arrow:after {
  border: 6px solid transparent;
  border-bottom-color: #900fff;
}

.arrow:after,
.arrow:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
}

.arrow:before {
  border: 8px solid transparent;
  border-bottom: 8px solid var(--border-color);
}

[data-popper-placement^="top"] .arrow {
  bottom: -11px;
}

[data-popper-placement^="bottom"] .arrow {
  top: -11px;
}

[data-popper-placement^="left"] .arrow {
  right: -11px;
}

[data-popper-placement^="right"] .arrow {
  left: -11px;
}

[data-popper-placement^="top"] .arrow:after {
  border-color: transparent;
  border-top-color: var(--triangle-color);
}

[data-popper-placement^="top"] .arrow:before {
  border-color: transparent;
  border-top-color: var(--border-color);
  left: -2px;
}

[data-popper-placement^="bottom"] .arrow:after {
  border-color: transparent;
  border-bottom-color: var(--triangle-color);
}

[data-popper-placement^="bottom"] .arrow:before {
  border-color: transparent;
  border-bottom-color: var(--border-color);
  left: -2px;
  bottom: 0;
}

[data-popper-placement^="right"] .arrow:after {
  border-color: transparent;
  border-right-color: var(--triangle-color);
}

[data-popper-placement^="right"] .arrow:before {
  border-color: transparent;
  border-right-color: var(--border-color);
  top: -2px;
  right: 0;
}

[data-popper-placement^="left"] .arrow:after {
  border-color: transparent;
  border-left-color: var(--triangle-color);
}

[data-popper-placement^="left"] .arrow:before {
  border-color: transparent;
  border-left-color: var(--border-color);
  top: -2px;
}
