.wrapper {
  --border-color: var(--accents-2);
  z-index: 2001;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--ds-shadow-menu);
  border-radius: 12px;
  font-size: 14px;
  outline: none;
  background: var(--ds-background-100);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: var(--geist-space-gap-quarter);
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.menu[data-state="closed"] {
  animation: fade-out 0.15s ease;
}

@media (max-width: 600px) {
  .menu {
    width: unset !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.menu .item {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 40px;
  text-decoration: none;
  border-radius: 6px;
  color: var(--ds-gray-1000);
}

.item[data-highlighted],
.item[data-selected] {
  background: var(--ds-gray-alpha-100);
}

.item.error {
  color: var(--ds-red-900);
}

.item[aria-disabled],
.item[data-disabled] {
  cursor: default;
  color: var(--ds-gray-700);
  pointer-events: none;
}

@media (max-width: 600px) {
  .menu .item {
    height: var(--geist-form-large-height);
    font-size: 1rem;
  }
}

.suffix {
  display: flex;
  margin-left: auto;
  padding-left: var(--geist-gap-half);
}

.prefix {
  display: flex;
  margin-right: var(--geist-gap-quarter);
}

.divider {
  width: calc(100% + 16px);
  height: 1px;
  background: var(--ds-gray-alpha-400);
  margin: 6px 0 6px -8px;
}

.section > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section .title {
  display: block;
  color: var(--ds-gray-900);
  font-size: 0.75rem;
  padding: var(--geist-gap-quarter) var(--geist-gap-half);
  padding-top: var(--geist-space-4x);
}

.loose {
  padding: 8px;
}

.loose .item {
  padding: 0 var(--geist-space-4x);
}

.loose .item[data-selected] {
  color: var(--geist-foreground);
}

.loose .divider {
  margin: 6px 0 6px -8px;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.iconButton {
  --icon-rotation: 0deg;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  cursor: pointer;
  margin-right: -12px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 30px;
  color: var(--accents-3);
}

@media (hover: hover) {
  .iconButton:hover:not(:disabled) {
    color: var(--geist-foreground);
  }
}

.iconButton:disabled {
  cursor: not-allowed;
}

.iconButton[data-open="true"] {
  --icon-rotation: 180deg;
}

.iconButton[data-open="true"] .chevron {
  transform: rotate(var(--icon-rotation));
}

.iconButton > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.iconButton .chevron {
  transition: transform 0.15s ease;
}

.iconButton .chevron,
.iconButton .cross {
  animation: bounce 0.15s ease;
}
