.switch {
  background: var(--ds-background-100);
  height: 40px;
  padding: var(--geist-space);
  border-radius: 6px;
  box-shadow: 0 0 0 1px var(--ds-gray-alpha-400);
}

.switch.small {
  height: 32px;
}

.switch.large {
  height: 48px;
  border-radius: 8px;
}
