.header {
  /* border-bottom: 1px solid var(--accents-2); */
}

.inner {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 var(--geist-gap);

  /* hide left/right on <=960 */
  @media (max-width: 960px) {
    & .left {
      display: none;
    }
  }

  @media (max-width: 600px) {
    & .right {
      display: none;
    }
  }

  & .left {
  }
  & .mid {
  }
  & .right {
  }
  & .input {
    max-width: 200px;
  }
}
