.root {
  display: flex;
  background: var(--accents-1);
  border: 1px solid var(--accents-2);
  border-radius: 9999px;
  padding: 3px;
  height: 36px;
}
.root input {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  position: absolute;
}
.root input:checked ~ label {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
:global(.dark-theme) .root input:checked ~ label {
  background: var(--accents-2);
}
.root input:checked ~ label svg {
  color: var(--accents-8) !important;
}
.root label {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  height: 28px;
  width: 28px;
  margin: 0;
  cursor: pointer;
  position: relative;
  transition: background 0.1s ease;
}
@media (hover: hover) {
  .root label:hover {
    background: var(--accents-1);
  }
  .root label:hover svg {
    color: var(--accents-8) !important;
  }
}
.root label svg {
  width: 16px;
  height: 16px;
  color: var(--accents-5) !important;
  position: relative;
  z-index: 1;
  transition: color 0.1s ease;
}
