.live {
  width: 100%;
  border-radius: var(--geist-radius);
  border: 1px solid var(--accents-2);
}

.live > :last-child {
  border-bottom-left-radius: var(--geist-radius);
  border-bottom-right-radius: var(--geist-radius);
}

.live .preview {
  padding: var(--geist-gap) 0;
}

.live pre.error {
  padding: 1rem;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
  text-overflow: ellipsis;
  font-family: var(--font-mono);
  font-size: 0.75rem;
  background-color: var(--geist-foreground);
  color: var(--geist-error);
}

.editor {
  background-color: var(--accents-1);
  color: var(--geist-foreground);
  position: relative;
  white-space: pre-line;
  line-height: 1.5;
  overflow: hidden;
}

.editor pre,
.editor textarea {
  outline: none;
  word-break: break-word !important;
  padding: var(--geist-gap) !important;
}

.editor summary {
  padding: var(--geist-gap-half) var(--geist-gap);
  border-top: 1px solid var(--accents-2);
}

.editorArea {
  border-top: 1px solid var(--accents-2);
  font-size: 0.75rem;
}

.copy,
.reset {
  cursor: pointer;
  position: absolute;
  top: 2px;
  display: inline-flex;
  color: var(--accents-5);
  transition: color 0.2s ease;
  padding: var(--geist-gap-half);
}

.reset {
  right: calc(3 * var(--geist-gap));
}

.copy {
  right: var(--geist-gap);
}

@media (hover: hover) {
  .copy:hover,
  .reset:hover {
    color: var(--accents-3);
  }
}
