.header {
  background: var(--accents-1);
  display: flex;
  padding: var(--geist-gap-half) var(--geist-space-4x);
}

.entity,
.header {
  border: 1px solid var(--accents-2);
  border-radius: var(--geist-radius);
}

.entity {
  position: relative;
  box-sizing: border-box;
  padding: var(--geist-space-4x);
  background: var(--geist-background);
}

.entity.disabled,
.entity.editing {
  background: var(--accents-1);
}

.entity.disabled [data-geist-avatar],
.entity.editing [data-geist-avatar] {
  opacity: 0.7;
}

.form {
  position: relative;
  box-sizing: border-box;
  padding: var(--geist-space-4x);
  border: 1px solid var(--accents-2);
  border-radius: var(--geist-radius);
  background: var(--accents-1);
}

.form .formTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: var(--geist-space-4x);
  margin-bottom: var(--geist-space-4x);
  border-bottom: 1px solid var(--accents-2);
}

.form .formTitle .title {
  flex: 1 1;
}

.form .formFooter {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  min-height: var(--geist-space-8x);
  padding-top: var(--geist-space-4x);
}

.form .formFooter .formFooterPrimaryAction {
  grid-area: primary;
  margin-left: var(--geist-space-4x);
}

.form .formFooterNote {
  padding-top: var(--geist-space-4x);
}

.form .separator {
  margin-top: var(--geist-space-4x);
  border-top: 1px solid var(--accents-2);
}

.entity + .entity,
.entity + .form,
.form + .entity,
.form + .form,
.header + .entity,
.header + .form {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}

.entity + .entity:before,
.entity + .form:before,
.form + .entity:before,
.form + .form:before,
.header + .entity:before,
.header + .form:before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  left: 0;
  top: -4px;
  background: var(--geist-background);
  box-shadow: -1px 0 0 var(--accents-2), 1px 0 0 var(--accents-2);
}

.disabled + .entity:before,
.disabled + .form:before,
.editing + .entity:before,
.editing + .form:before,
.form + .entity:before,
.form + .form:before,
.header + .entity:before,
.header + .form:before {
  background: var(--accents-1);
}

.thumbnail {
  display: flex;
  align-items: center;
  margin-right: var(--geist-space-4x);
}

.footer {
  box-sizing: content-box;
  min-height: var(--height);
  margin-top: var(--geist-space-4x);
  padding-top: var(--geist-space-4x);
  border-top: 1px solid var(--accents-2);
  margin-left: var(--indent);
}

.footer .form {
  padding: 0;
  border: 0;
  width: 100%;
  --themed-bg: var(--geist-background);
  --themed-fg: var(--geist-foreground);
  --themed-border: initial;
}

.footer .form .formTitle {
  display: none;
}

.field {
  display: grid;
  grid-template-areas: "checkbox avatar content actions menu";
  grid-template-columns: auto auto 1fr auto auto;
  justify-content: stretch;
  align-content: stretch;
}

.field .checkbox {
  grid-area: checkbox;
  margin-right: var(--geist-space-4x);
}

.field .avatar {
  display: flex;
  grid-area: avatar;
  margin-right: var(--geist-space-4x);
}

.field .content {
  grid-area: content;
}

.field .actions {
  display: none;
  grid-area: actions;
  margin-left: var(--geist-space-4x);
}

.field .menu {
  display: none;
  grid-area: menu;
  margin-left: var(--geist-space-4x);
}

.field .rightAligned {
  text-align: right;
  align-items: flex-end;
}

.field .description,
.field .label,
.field .title {
  line-height: 20px;
}

.field .label {
  text-transform: uppercase;
}

.field .descriptionWithAvatar {
  display: flex;
  align-items: center;
  width: 100%;
}

.field .rightAligned .descriptionWithAvatar {
  justify-content: flex-end;
}

.field.last .actions,
.field.last .menu {
  display: unset;
}

@media screen and (max-width: 600px) {
  .field + .field {
    padding-top: var(--geist-space-4x);
    border-top: 1px solid var(--accents-2);
  }

  .field {
    flex: unset !important;
    justify-content: flex-end;
  }

  .field .rightAligned {
    text-align: unset;
    align-items: unset;
  }

  .field .rightAligned .descriptionWithAvatar {
    justify-content: space-between;
  }

  .field.avatarWrap {
    grid-template-areas: "checkbox avatar actions menu" "content content content content";
    grid-template-columns: auto 1fr auto auto;
    grid-row-gap: var(--geist-space-4x);
    row-gap: var(--geist-space-4x);
  }

  .field.first .actions,
  .field.first .menu {
    display: unset !important;
  }

  .field.last .actions,
  .field.last .menu {
    display: none;
  }

  .footer {
    margin-left: 0;
  }

  .avatarRow {
    margin-bottom: var(--geist-space-4x);
    justify-content: space-between;
  }

  .form .formFooter {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .form .formFooter > div:last-of-type {
    margin-top: 0;
  }

  .form .formFooter .formFooterDestructiveAction,
  .form .formFooter .formFooterPrimaryAction,
  .form .formFooter .formFooterSecondaryAction {
    display: flex;
    flex-direction: column;
    margin-top: var(--geist-space-2x);
  }

  .form .formFooter .formFooterPrimaryAction {
    margin-left: 0;
  }

  .form .formFooter .formFooterSpacer {
    display: none;
  }

  .form .formFooter .formFooterNoteInline {
    order: 1;
  }

  .form .formFooter .formFooterNoteInline ~ div:last-of-type {
    margin-top: var(--geist-space-4x);
  }
}
