.design-page {
  min-height: 100vh;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 var(--geist-gap);
  --hover: #f3f2f2;
  --inset-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
:global(.dark-theme) .design-page {
  --hover: #232323;
  --inset-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.1);
}
.main {
  min-height: 100vh;
  margin-left: 300px;
  padding-top: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  flex: 1 1;
}
.search {
  margin-top: 30px;
  width: calc(100% - 16px);
}
@media screen and (max-width: 960px) {
  .main {
    margin-left: 0;
  }
  .navItem {
    width: calc(100% + 32px) !important;
  }
}
.sidebar {
  overflow-y: auto;
  overflow-x: visible;
  height: 100%;
  padding: 0 16px 32px;
  margin-left: -16px;
  position: relative;
  mask-image: linear-gradient(
    #000,
    #000,
    transparent 0,
    #000 40px,
    #000 calc(100% - 40px),
    transparent
  );
  z-index: 100;
}
.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  border-radius: var(--geist-space-gap-half);
  width: 296px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.asideInner {
  padding: var(--geist-space-small) var(--geist-space-small) 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logo-container {
  padding-top: var(--geist-space-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 16px);
}
.burger {
  display: none;
  background: none;
  border: none;
}
@media screen and (max-width: 960px) {
  .aside {
    position: unset;
    width: calc(100vw - (100vw - 100%));
    height: unset;
    display: block;
    padding: 24px 0;
    background: var(--geist-background);
  }
  .asideInner {
    padding: 0;
  }
  .burger {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: block;
  }
  .search,
  .sidebar {
    display: none;
  }
  .search.open {
    display: block;
  }
  .sidebar.open {
    display: flex;
    margin: unset;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-height: calc(100vh - 150px);
    background: var(--geist-background);
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var(--geist-gap);
    padding-top: 0;
    z-index: 105;
  }
  .sidebar.open .search {
    display: flex;
  }
  .sidebar.open > ul {
    width: 100%;
  }
  .sidebar.open small {
    font-size: 1rem;
  }
  .logo-container {
    padding-top: 0;
  }
}
.module {
  border-radius: var(--geist-radius);
  border: 1px solid var(--accents-2);
  width: 100%;
  position: relative;
  padding: 1rem;
}
.module > :last-child {
  border-bottom-left-radius: calc(var(--geist-radius) - 1px);
  border-bottom-right-radius: calc(var(--geist-radius) - 1px);
}
.module > :first-child {
  border-top-left-radius: calc(var(--geist-radius) - 1px);
  border-top-right-radius: calc(var(--geist-radius) - 1px);
}
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info {
  color: var(--geist-background);
  background: var(--geist-foreground);
  padding: var(--geist-space-2x) var(--geist-space-gap-half);
  font-size: var(--geist-form-small-font);
  border-radius: var(--geist-radius);
  word-wrap: break-word;
  white-space: pre-line;
  font-family: var(--font-sans);
  outline: 0;
  line-height: 20px;
  animation-duration: 0.15s;
  animation-timing-function: ease;
}
.info[data-side="top"] {
  animation-name: slideUp;
}
.info[data-side="bottom"] {
  animation-name: slideDown;
}
.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 2px;
  gap: 2px;
  width: 100%;
}
.navItem {
  padding: 8px 16px;
  height: 40px;
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  color: var(--accents-5);
  transition: background 0.15s;
}
@media (hover: hover) {
  .navItem:hover {
    color: var(--geist-foreground);
  }
}
.navCategory {
  padding: 12px 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  grid-gap: 8px;
  gap: 8px;
  text-transform: capitalize;
}
@media (hover: hover) {
  .navItem:hover {
    color: var(--geist-foreground);
    background: var(--accents-1);
  }
}
.activeNavItem {
  color: var(--geist-foreground);
  background: var(--hover);
}
@media (hover: hover) {
  .activeNavItem:hover {
    color: var(--geist-foreground);
    background: var(--hover);
  }
}
.moduleCopyButton {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.2s;
}
@media (hover: hover) {
  .module:hover .moduleCopyButton {
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
