.hairline {
  border-top: 1px solid var(--accents-2);
}
.design-page {
  min-height: 100vh;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 var(--geist-gap);
  --hover: #f3f2f2;
  --inset-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.main {
  min-height: 100vh;
  margin-left: 300px;
  padding-top: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: var(--geist-gap);
  padding-right: var(--geist-gap);

  @media (max-width: 960px) {
    margin-left: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  flex: 1 1;
}

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  border-radius: var(--geist-space-gap-half);
  width: 296px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: 960px) {
    position: unset;
    width: calc(100vw - (100vw - 100%));
    height: unset;
    display: block;
    padding: 24px 0;
    background: var(--geist-background);
  }
}

.asideInner {
  padding: var(--geist-space-small) var(--geist-space-small) 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 960px) {
    padding: 0;
  }
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  margin: var(--geist-gap) 0;
}

.burger {
  display: none;
}

.sidebar {
  overflow-y: auto;
  overflow-x: visible;
  height: 100%;
  padding: 0 16px 32px;
  margin-left: -16px;
  position: relative;
  -webkit-mask-image: linear-gradient(
    #000,
    #000,
    transparent 0,
    #000 40px,
    #000 calc(100% - 40px),
    transparent
  );
  z-index: 100;

  &::-webkit-scrollbar {
    background: var(--accents-1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--accents-2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

@media screen and (max-width: 960px) {
  .burger {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: block;
  }

  .search,
  .sidebar {
    display: none;
  }

  .search.open {
    display: block;
  }

  .sidebar.open {
    display: flex;
    margin: unset;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-height: calc(100vh - 150px);
    background: var(--geist-background);
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: var(--geist-gap);
    padding: var(--geist-gap);
    padding-top: 0;
    z-index: 105;
  }

  .sidebar.open .search {
    display: flex;
  }

  .sidebar.open > ul {
    width: 100%;
  }

  .sidebar.open small {
    font-size: 1rem;
  }
}

.navigation details > ul {
  margin-left: var(--geist-gap-quarter);
  padding-left: var(--geist-gap);
  border-left: 1px solid var(--accents-2);
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 2px;
  gap: 2px;
  width: 100%;
}

.navigation li {
  list-style-type: none;
  margin: 1rem 0;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
