@import url("./geist-container.css");
@import url("./geist-text.css");
@import url("./geist-globals.css");
@import url("./dialog.css");

a {
  color: var(--geist-secondary);
  text-decoration: none;
  transition: color 0.1s ease;
}
a:hover {
  color: var(--geist-foreground);
}
a.active {
  color: var(--geist-foreground);
}

*,
:after,
:before {
  box-sizing: border-box;
}

:where(html, body) {
  height: "100%";
}

#__next {
  position: relative;
  z-index: 0;
}

a,
details summary {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background-color: var(--geist-selection);
  color: var(--geist-selection-text-color);
}

::-moz-selection {
  background-color: var(--geist-selection);
  color: var(--geist-selection-text-color);
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings:
    "rlig" 1,
    "calt" 0;
}

body {
  position: relative;
  font-size: 100%;
  min-height: 100%;
  max-width: 100vw;
  margin: 0;
}

html,
html body {
  font-family: var(--font-sans, var(--font-sans-fallback));
}

body,
html {
  text-rendering: optimizeLegibility;
  background-color: var(--geist-background);
  color: var(--ds-gray-1000);
  scroll-padding-top: var(--header-height);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  shape-rendering: crispEdges;
}

svg circle,
svg line,
svg path,
svg polygon,
svg rect {
  shape-rendering: geometricprecision;
}

/* MARK: spacing */
:host,
:root {
  --geist-space: 4px;
  --geist-space-2x: 8px;
  --geist-space-3x: 12px;
  --geist-space-4x: 16px;
  --geist-space-8x: 32px;
  --geist-space-16x: 64px;
  --geist-space-24x: 96px;
  --geist-space-32x: 128px;
  --geist-space-48x: 192px;
  --geist-space-64x: 256px;
  --geist-space-small: 32px;
  --geist-space-medium: 40px;
  --geist-space-large: 48px;
  --geist-space-gap: 24px;
  --geist-space-gap-half: 12px;
  --geist-space-gap-quarter: var(--geist-space-2x);
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-space-negative: -4px;
  --geist-space-2x-negative: -8px;
  --geist-space-4x-negative: -16px;
  --geist-space-8x-negative: -32px;
  --geist-space-16x-negative: -64px;
  --geist-space-24x-negative: -96px;
  --geist-space-32x-negative: -128px;
  --geist-space-48x-negative: -192px;
  --geist-space-64x-negative: -256px;
  --geist-space-small-negative: -32px;
  --geist-space-medium-negative: -40px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-negative: -24px;
  --geist-space-gap-half-negative: -12px;
  --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
  --geist-gap-negative: var(--geist-space-gap-negative);
  --geist-gap-half-negative: var(--geist-space-gap-half-negative);
  --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
  --geist-gap-double-negative: var(--geist-space-large-negative);
  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1000px;
  --geist-page-width-with-margin: 1048px;
  --geist-radius: 5px;
  --geist-marketing-radius: 8px;
  --font-sans:
    "Geist", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-mono:
    Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  --header-background: hsla(0, 0%, 100%, 0.8);
  --geist-form-large-font: 1rem;
  --geist-form-large-line-height: 1.5rem;
  --geist-form-large-height: var(--geist-space-large);
  --geist-form-small-font: 0.875rem;
  --geist-form-small-line-height: 0.875rem;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-font: 0.875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium);
  --ds-shadow-border: 0 0 0 1px rgba(0, 0, 0, 0.08);
  --ds-shadow-small: 0px 1px 2px rgba(0, 0, 0, 0.04);
  --ds-shadow-border-small: var(--ds-shadow-border), var(--ds-shadow-small);
  --ds-shadow-medium:
    0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 8px -8px rgba(0, 0, 0, 0.04);
  --ds-shadow-border-medium: var(--ds-shadow-border), var(--ds-shadow-medium);
  --ds-shadow-large:
    0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
  --ds-shadow-border-large: var(--ds-shadow-border), var(--ds-shadow-large);
  --ds-shadow-tooltip:
    var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px rgba(0, 0, 0, 0.04);
  --ds-shadow-menu:
    var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px -4px rgba(0, 0, 0, 0.04), 0px 16px 24px -8px rgba(0, 0, 0, 0.06);
  --ds-shadow-modal:
    var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  --ds-shadow-fullscreen:
    var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  --ds-focus-ring:
    0 0 0 2px var(--ds-background-100), 0 0 0 4px var(--ds-focus-color);
}

/* MARK: colors default */

.dark .invert-theme,
.dark-theme .invert-theme,
.geist-disabled .geist-disabled-skip,
:host,
:root {
  --geist-foreground: #000000;
  --geist-background: #ffffff;
  --geist-selection: var(--geist-cyan-light);
  --geist-selection-text-color: var(--geist-foreground);
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999999;
  --accents-4: #888888;
  --accents-5: #666666;
  --accents-6: #444444;
  --accents-7: #333333;
  --accents-8: #111111;

  --geist-error-light: #ff1a1a;
  --geist-error: #ee0000;
  --geist-error-dark: #c50000;
  --geist-error-lighter: #f7d4d6;
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #e3d7fc;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;

  --geist-link-color: var(--geist-success);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-highlight-purple);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  --dropdown-triangle-stroke: #ffffff;
  --scroller-start: #ffffff;
  --scroller-end: hsla(0, 0%, 100%, 0);
  --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --portal-opacity: 0.75;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
}

/* MARK: colors dark */

.dark,
.dark-theme,
.dark-theme .geist-disabled .geist-disabled-skip,
.invert-theme {
  --geist-foreground: #ffffff;
  --geist-background: #000000;
  --geist-selection: var(--geist-highlight-purple);
  --accents-8: #fafafa;
  --accents-7: #eaeaea;
  --accents-6: #999;
  --accents-5: #888;
  --accents-4: #666;
  --accents-3: #444;
  --accents-2: #333;
  --accents-1: #111;
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --geist-link-color: var(--geist-success-light);
  --geist-marketing-gray: var(--accents-1);
  --geist-code: var(--geist-foreground);
  --geist-error-light: #f33;
  --geist-error: red;
  --geist-error-dark: #e60000;
  --geist-text-gradient: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
  --dropdown-box-shadow: 0 0 0 1px var(--accents-2);
  --dropdown-triangle-stroke: #333;
  --scroller-start: #000;
  --scroller-end: transparent;
  --header-background: rgba(0, 0, 0, 0.5);
  --header-border-bottom: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
  --header-import-flow-background: hsla(0, 0%, 7%, 0.8);
  --shadow-smallest: 0 0 0 1px var(--accents-2);
  --shadow-extra-small: 0 0 0 1px var(--accents-2);
  --shadow-small: 0 0 0 1px var(--accents-2);
  --shadow-medium: 0 0 0 1px var(--accents-2);
  --shadow-large: 0 0 0 1px var(--accents-2);
  --shadow-sticky: 0 0 0 1px var(--accents-2);
  --shadow-hover: 0 0 0 1px var(--geist-foreground);
  --portal-opacity: 0.75;
  --geist-violet-background: #291d3a;
  --geist-violet-background-secondary: #211830;
  --geist-violet-background-tertiary: #211830;
  --geist-background-rgb: 0, 0, 0;
  --geist-foreground-rgb: 255, 255, 255;
  --geist-console-header: #0f0310;
  --geist-console-purple: #8a63d2;
  --geist-console-text-color-default: var(--geist-foreground);
  --geist-console-text-color-blue: #3291ff;
  --geist-console-text-color-pink: #eb367f;
  --next-icon-border: #fff;
  --ds-shadow-border: 0 0 0 1px hsla(0, 0%, 100%, 0.145);
  --ds-shadow-small: 0px 1px 2px rgba(0, 0, 0, 0.16);
  --ds-shadow-border-small:
    var(--ds-shadow-border), 0px 1px 2px rgba(0, 0, 0, 0.16);
  --ds-shadow-medium:
    0px 2px 2px rgba(0, 0, 0, 0.32), 0px 8px 8px -8px rgba(0, 0, 0, 0.16);
  --ds-shadow-border-medium:
    var(--ds-shadow-border), 0px 2px 2px rgba(0, 0, 0, 0.32),
    0px 8px 8px -8px rgba(0, 0, 0, 0.16);
  --ds-shadow-large:
    0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
  --ds-shadow-border-large:
    var(--ds-shadow-border), 0px 2px 2px rgba(0, 0, 0, 0.04),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04);
  --ds-shadow-tooltip:
    var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px rgba(0, 0, 0, 0.04);
  --ds-shadow-menu:
    var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px -4px rgba(0, 0, 0, 0.04), 0px 16px 24px -8px rgba(0, 0, 0, 0.06);
  --ds-shadow-modal:
    var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  --ds-shadow-fullscreen:
    var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
}

/* MARK: ds colors (default and dark) */
.dark .invert-theme,
.dark-theme .invert-theme,
:host,
:root {
  --ds-gray-100-value: 0, 0%, 95%;
  --ds-gray-200-value: 0, 0%, 92%;
  --ds-gray-300-value: 0, 0%, 90%;
  --ds-gray-400-value: 0, 0%, 92%;
  --ds-gray-500-value: 0, 0%, 79%;
  --ds-gray-600-value: 0, 0%, 66%;
  --ds-gray-700-value: 0, 0%, 56%;
  --ds-gray-800-value: 0, 0%, 49%;
  --ds-gray-900-value: 0, 0%, 30%;
  --ds-gray-1000-value: 0, 0%, 9%;
  --ds-blue-100-value: 212, 100%, 97%;
  --ds-blue-200-value: 210, 100%, 96%;
  --ds-blue-300-value: 210, 100%, 94%;
  --ds-blue-400-value: 209, 100%, 90%;
  --ds-blue-500-value: 209, 100%, 80%;
  --ds-blue-600-value: 208, 100%, 66%;
  --ds-blue-700-value: 212, 100%, 48%;
  --ds-blue-800-value: 212, 100%, 41%;
  --ds-blue-900-value: 211, 100%, 42%;
  --ds-blue-900: oklch(53.18% 0.2399 256.99);
  --ds-blue-1000-value: 211, 100%, 15%;
  --ds-red-100-value: 0, 100%, 97%;
  --ds-red-200-value: 0, 100%, 96%;
  --ds-red-300-value: 0, 100%, 95%;
  --ds-red-400-value: 0, 90%, 92%;
  --ds-red-500-value: 0, 82%, 85%;
  --ds-red-600-value: 359, 90%, 71%;
  --ds-red-700-value: 358, 75%, 59%;
  --ds-red-800-value: 358, 70%, 52%;
  --ds-red-900-value: 358, 66%, 48%;
  --ds-red-1000-value: 355, 49%, 15%;
  --ds-amber-100-value: 39, 100%, 95%;
  --ds-amber-200-value: 44, 100%, 92%;
  --ds-amber-300-value: 43, 96%, 90%;
  --ds-amber-400-value: 42, 100%, 78%;
  --ds-amber-500-value: 38, 100%, 71%;
  --ds-amber-600-value: 36, 90%, 62%;
  --ds-amber-700-value: 39, 100%, 57%;
  --ds-amber-800-value: 35, 100%, 52%;
  --ds-amber-900-value: 30, 100%, 32%;
  --ds-amber-1000-value: 20, 79%, 17%;
  --ds-green-100-value: 120, 60%, 96%;
  --ds-green-200-value: 120, 60%, 95%;
  --ds-green-300-value: 120, 60%, 91%;
  --ds-green-400-value: 122, 60%, 86%;
  --ds-green-500-value: 124, 60%, 75%;
  --ds-green-600-value: 125, 60%, 64%;
  --ds-green-700-value: 131, 41%, 46%;
  --ds-green-800-value: 132, 43%, 39%;
  --ds-green-900-value: 133, 50%, 32%;
  --ds-green-1000-value: 128, 29%, 15%;
  --ds-teal-100-value: 169, 70%, 96%;
  --ds-teal-200-value: 167, 70%, 94%;
  --ds-teal-300-value: 168, 70%, 90%;
  --ds-teal-400-value: 170, 70%, 85%;
  --ds-teal-500-value: 170, 70%, 72%;
  --ds-teal-600-value: 170, 70%, 57%;
  --ds-teal-700-value: 173, 80%, 36%;
  --ds-teal-800-value: 173, 83%, 30%;
  --ds-teal-900-value: 174, 91%, 25%;
  --ds-teal-1000-value: 171, 80%, 13%;
  --ds-purple-100-value: 276, 100%, 97%;
  --ds-purple-200-value: 277, 87%, 97%;
  --ds-purple-300-value: 274, 78%, 95%;
  --ds-purple-400-value: 276, 71%, 92%;
  --ds-purple-500-value: 274, 70%, 82%;
  --ds-purple-600-value: 273, 72%, 73%;
  --ds-purple-700-value: 272, 51%, 54%;
  --ds-purple-800-value: 272, 47%, 45%;
  --ds-purple-900-value: 274, 71%, 43%;
  --ds-purple-1000-value: 276, 100%, 15%;
  --ds-pink-100-value: 330, 100%, 96%;
  --ds-pink-200-value: 340, 90%, 96%;
  --ds-pink-300-value: 340, 82%, 94%;
  --ds-pink-400-value: 341, 76%, 91%;
  --ds-pink-500-value: 340, 75%, 84%;
  --ds-pink-600-value: 341, 75%, 73%;
  --ds-pink-700-value: 336, 80%, 58%;
  --ds-pink-800-value: 336, 74%, 51%;
  --ds-pink-900-value: 336, 65%, 45%;
  --ds-pink-1000-value: 333, 74%, 15%;
  --ds-gray-alpha-100: rgba(0, 0, 0, 0.05);
  --ds-gray-alpha-200: hsla(0, 0%, 0%, 0.08);
  --ds-gray-alpha-300: hsla(0, 0%, 0%, 0.1);
  --ds-gray-alpha-400: hsla(0, 0%, 0%, 0.08);
  --ds-gray-alpha-500: hsla(0, 0%, 0%, 0.21);
  --ds-gray-alpha-600: hsla(0, 0%, 0%, 0.34);
  --ds-gray-alpha-700: hsla(0, 0%, 0%, 0.44);
  --ds-gray-alpha-800: hsla(0, 0%, 0%, 0.51);
  --ds-gray-alpha-900: hsla(0, 0%, 0%, 0.61);
  --ds-gray-alpha-1000: hsla(0, 0%, 0%, 0.91);
  --ds-background-100-value: 0, 0%, 100%;
  --ds-background-200-value: 0, 0%, 98%;
  --ds-contrast-fg: #ffffff;
  --ds-focus-border:
    0 0 0 1px var(--ds-gray-alpha-600), 0px 0px 0px 4px rgba(0, 0, 0, 0.16);
  --ds-focus-color: var(--ds-blue-700);
  --vaul-overlay-background: 255, 255, 255;
  --vaul-overlay-background-start: rgba(0, 0, 0, 0);
  --vaul-overlay-background-end: rgba(0, 0, 0, 0.4);
}

.dark,
.dark-theme,
.invert-theme,
:host,
:root {
  --ds-gray-100: hsla(var(--ds-gray-100-value), 1);
  --ds-gray-200: hsla(var(--ds-gray-200-value), 1);
  --ds-gray-300: hsla(var(--ds-gray-300-value), 1);
  --ds-gray-400: hsla(var(--ds-gray-400-value), 1);
  --ds-gray-500: hsla(var(--ds-gray-500-value), 1);
  --ds-gray-600: hsla(var(--ds-gray-600-value), 1);
  --ds-gray-700: hsla(var(--ds-gray-700-value), 1);
  --ds-gray-800: hsla(var(--ds-gray-800-value), 1);
  --ds-gray-900: hsla(var(--ds-gray-900-value), 1);
  --ds-gray-1000: hsla(var(--ds-gray-1000-value), 1);
  --ds-blue-100: hsla(var(--ds-blue-100-value), 1);
  --ds-blue-200: hsla(var(--ds-blue-200-value), 1);
  --ds-blue-300: hsla(var(--ds-blue-300-value), 1);
  --ds-blue-400: hsla(var(--ds-blue-400-value), 1);
  --ds-blue-500: hsla(var(--ds-blue-500-value), 1);
  --ds-blue-600: hsla(var(--ds-blue-600-value), 1);
  --ds-blue-700: hsla(var(--ds-blue-700-value), 1);
  --ds-blue-800: hsla(var(--ds-blue-800-value), 1);
  --ds-blue-1000: hsla(var(--ds-blue-1000-value), 1);
  --ds-amber-100: hsla(var(--ds-amber-100-value), 1);
  --ds-amber-200: hsla(var(--ds-amber-200-value), 1);
  --ds-amber-300: hsla(var(--ds-amber-300-value), 1);
  --ds-amber-400: hsla(var(--ds-amber-400-value), 1);
  --ds-amber-500: hsla(var(--ds-amber-500-value), 1);
  --ds-amber-600: hsla(var(--ds-amber-600-value), 1);
  --ds-amber-700: hsla(var(--ds-amber-700-value), 1);
  --ds-amber-800: hsla(var(--ds-amber-800-value), 1);
  --ds-amber-900: hsla(var(--ds-amber-900-value), 1);
  --ds-amber-1000: hsla(var(--ds-amber-1000-value), 1);
  --ds-red-100: hsla(var(--ds-red-100-value), 1);
  --ds-red-200: hsla(var(--ds-red-200-value), 1);
  --ds-red-300: hsla(var(--ds-red-300-value), 1);
  --ds-red-400: hsla(var(--ds-red-400-value), 1);
  --ds-red-500: hsla(var(--ds-red-500-value), 1);
  --ds-red-600: hsla(var(--ds-red-600-value), 1);
  --ds-red-700: hsla(var(--ds-red-700-value), 1);
  --ds-red-800: hsla(var(--ds-red-800-value), 1);
  --ds-red-900: hsla(var(--ds-red-900-value), 1);
  --ds-red-1000: hsla(var(--ds-red-1000-value), 1);
  --ds-green-100: hsla(var(--ds-green-100-value), 1);
  --ds-green-200: hsla(var(--ds-green-200-value), 1);
  --ds-green-300: hsla(var(--ds-green-300-value), 1);
  --ds-green-400: hsla(var(--ds-green-400-value), 1);
  --ds-green-500: hsla(var(--ds-green-500-value), 1);
  --ds-green-600: hsla(var(--ds-green-600-value), 1);
  --ds-green-700: hsla(var(--ds-green-700-value), 1);
  --ds-green-800: hsla(var(--ds-green-800-value), 1);
  --ds-green-900: hsla(var(--ds-green-900-value), 1);
  --ds-green-1000: hsla(var(--ds-green-1000-value), 1);
  --ds-teal-100: hsla(var(--ds-teal-100-value), 1);
  --ds-teal-200: hsla(var(--ds-teal-200-value), 1);
  --ds-teal-300: hsla(var(--ds-teal-300-value), 1);
  --ds-teal-400: hsla(var(--ds-teal-400-value), 1);
  --ds-teal-500: hsla(var(--ds-teal-500-value), 1);
  --ds-teal-600: hsla(var(--ds-teal-600-value), 1);
  --ds-teal-700: hsla(var(--ds-teal-700-value), 1);
  --ds-teal-800: hsla(var(--ds-teal-800-value), 1);
  --ds-teal-900: hsla(var(--ds-teal-900-value), 1);
  --ds-teal-1000: hsla(var(--ds-teal-1000-value), 1);
  --ds-purple-100: hsla(var(--ds-purple-100-value), 1);
  --ds-purple-200: hsla(var(--ds-purple-200-value), 1);
  --ds-purple-300: hsla(var(--ds-purple-300-value), 1);
  --ds-purple-400: hsla(var(--ds-purple-400-value), 1);
  --ds-purple-500: hsla(var(--ds-purple-500-value), 1);
  --ds-purple-600: hsla(var(--ds-purple-600-value), 1);
  --ds-purple-700: hsla(var(--ds-purple-700-value), 1);
  --ds-purple-800: hsla(var(--ds-purple-800-value), 1);
  --ds-purple-900: hsla(var(--ds-purple-900-value), 1);
  --ds-purple-1000: hsla(var(--ds-purple-1000-value), 1);
  --ds-pink-100: hsla(var(--ds-pink-100-value), 1);
  --ds-pink-200: hsla(var(--ds-pink-200-value), 1);
  --ds-pink-300: hsla(var(--ds-pink-300-value), 1);
  --ds-pink-400: hsla(var(--ds-pink-400-value), 1);
  --ds-pink-500: hsla(var(--ds-pink-500-value), 1);
  --ds-pink-600: hsla(var(--ds-pink-600-value), 1);
  --ds-pink-700: hsla(var(--ds-pink-700-value), 1);
  --ds-pink-800: hsla(var(--ds-pink-800-value), 1);
  --ds-pink-900: hsla(var(--ds-pink-900-value), 1);
  --ds-pink-1000: hsla(var(--ds-pink-1000-value), 1);
  --ds-background-100: hsla(var(--ds-background-100-value), 1);
  --ds-background-200: hsla(var(--ds-background-200-value), 1);
}

.dark,
.dark-theme,
.invert-theme {
  --ds-gray-100-value: 0, 0%, 10%;
  --ds-gray-200-value: 0, 0%, 12%;
  --ds-gray-300-value: 0, 0%, 16%;
  --ds-gray-400-value: 0, 0%, 18%;
  --ds-gray-500-value: 0, 0%, 27%;
  --ds-gray-600-value: 0, 0%, 53%;
  --ds-gray-700-value: 0, 0%, 56%;
  --ds-gray-800-value: 0, 0%, 49%;
  --ds-gray-900-value: 0, 0%, 63%;
  --ds-gray-1000-value: 0, 0%, 93%;
  --ds-blue-100-value: 216, 50%, 12%;
  --ds-blue-200-value: 214, 59%, 15%;
  --ds-blue-300-value: 213, 71%, 20%;
  --ds-blue-400-value: 212, 78%, 23%;
  --ds-blue-500-value: 211, 86%, 27%;
  --ds-blue-600-value: 206, 100%, 50%;
  --ds-blue-700-value: 212, 100%, 48%;
  --ds-blue-800-value: 212, 100%, 41%;
  --ds-blue-900-value: 210, 100%, 66%;
  --ds-blue-900: oklch(71.7% 0.1648 250.794);
  --ds-blue-1000-value: 206, 100%, 96%;
  --ds-red-100-value: 357, 37%, 12%;
  --ds-red-200-value: 357, 46%, 16%;
  --ds-red-300-value: 356, 54%, 22%;
  --ds-red-400-value: 357, 55%, 26%;
  --ds-red-500-value: 357, 60%, 32%;
  --ds-red-600-value: 358, 75%, 59%;
  --ds-red-700-value: 358, 75%, 59%;
  --ds-red-800-value: 358, 69%, 52%;
  --ds-red-900-value: 358, 100%, 69%;
  --ds-red-1000-value: 353, 90%, 96%;
  --ds-amber-100-value: 35, 100%, 8%;
  --ds-amber-200-value: 32, 100%, 10%;
  --ds-amber-300-value: 33, 100%, 15%;
  --ds-amber-400-value: 35, 100%, 17%;
  --ds-amber-500-value: 35, 91%, 22%;
  --ds-amber-600-value: 39, 85%, 49%;
  --ds-amber-700-value: 39, 100%, 57%;
  --ds-amber-800-value: 35, 100%, 52%;
  --ds-amber-900-value: 39, 90%, 50%;
  --ds-amber-1000-value: 40, 94%, 93%;
  --ds-green-100-value: 136, 50%, 9%;
  --ds-green-200-value: 137, 50%, 12%;
  --ds-green-300-value: 136, 50%, 14%;
  --ds-green-400-value: 135, 70%, 16%;
  --ds-green-500-value: 135, 70%, 23%;
  --ds-green-600-value: 135, 70%, 34%;
  --ds-green-700-value: 131, 41%, 46%;
  --ds-green-800-value: 132, 43%, 39%;
  --ds-green-900-value: 131, 43%, 57%;
  --ds-green-1000-value: 136, 73%, 94%;
  --ds-teal-100-value: 169, 78%, 7%;
  --ds-teal-200-value: 170, 74%, 9%;
  --ds-teal-300-value: 171, 75%, 13%;
  --ds-teal-400-value: 171, 85%, 13%;
  --ds-teal-500-value: 172, 85%, 20%;
  --ds-teal-600-value: 172, 85%, 32%;
  --ds-teal-700-value: 173, 80%, 36%;
  --ds-teal-800-value: 173, 83%, 30%;
  --ds-teal-900-value: 174, 90%, 41%;
  --ds-teal-1000-value: 166, 71%, 93%;
  --ds-purple-100-value: 283, 30%, 12%;
  --ds-purple-200-value: 281, 38%, 16%;
  --ds-purple-300-value: 279, 44%, 23%;
  --ds-purple-400-value: 277, 46%, 28%;
  --ds-purple-500-value: 274, 49%, 35%;
  --ds-purple-600-value: 272, 51%, 54%;
  --ds-purple-700-value: 272, 51%, 54%;
  --ds-purple-800-value: 272, 47%, 45%;
  --ds-purple-900-value: 275, 80%, 71%;
  --ds-purple-1000-value: 281, 73%, 96%;
  --ds-pink-100-value: 335, 32%, 12%;
  --ds-pink-200-value: 335, 43%, 16%;
  --ds-pink-300-value: 335, 47%, 21%;
  --ds-pink-400-value: 335, 51%, 22%;
  --ds-pink-500-value: 335, 57%, 27%;
  --ds-pink-600-value: 336, 75%, 40%;
  --ds-pink-700-value: 336, 80%, 58%;
  --ds-pink-800-value: 336, 74%, 51%;
  --ds-pink-900-value: 341, 90%, 67%;
  --ds-pink-1000-value: 333, 90%, 96%;
  --ds-gray-alpha-100: rgba(255, 255, 255, 0.06);
  --ds-gray-alpha-200: hsla(0, 0%, 100%, 0.09);
  --ds-gray-alpha-300: hsla(0, 0%, 100%, 0.13);
  --ds-gray-alpha-400: hsla(0, 0%, 100%, 0.14);
  --ds-gray-alpha-500: hsla(0, 0%, 100%, 0.24);
  --ds-gray-alpha-600: hsla(0, 0%, 100%, 0.51);
  --ds-gray-alpha-700: hsla(0, 0%, 100%, 0.54);
  --ds-gray-alpha-800: hsla(0, 0%, 100%, 0.47);
  --ds-gray-alpha-900: hsla(0, 0%, 100%, 0.61);
  --ds-gray-alpha-1000: hsla(0, 0%, 100%, 0.92);
  --ds-background-100-value: 0, 0%, 4%;
  --ds-background-200-value: 0, 0%, 0%;
  --ds-focus-border:
    0 0 0 1px var(--ds-gray-alpha-600),
    0px 0px 0px 4px rgba(255, 255, 255, 0.24);
  --ds-focus-color: var(--ds-blue-900);
  --ds-shadow-border-inset: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

/* Colors from Note */
.geist-themed.geist-secondary {
  --themed-fg: var(--geist-secondary);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}
.geist-themed.geist-success {
  --themed-fg: var(--geist-success);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-success-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-success);
  --themed-border: var(--geist-success);
}

html:not(.dark-theme) .geist-themed.geist-success-fill.geist-success-contrast {
  --themed-fg: var(--geist-success-dark);
  --themed-bg: var(--geist-success-lighter);
  --themed-border: var(--geist-success);
}

.geist-themed.geist-error {
  --themed-fg: var(--geist-error);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-error-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-error);
  --themed-border: var(--geist-error);
}

html:not(.dark-theme) .geist-themed.geist-error-fill.geist-error-contrast {
  --themed-fg: var(--geist-error-dark);
  --themed-bg: var(--geist-error-lighter);
  --themed-border: var(--geist-error);
}

.geist-themed.geist-warning {
  --themed-fg: var(--geist-warning);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-warning-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-warning);
  --themed-border: var(--geist-warning);
}

.geist-themed.geist-warning-fill.geist-warning-contrast {
  --themed-fg: var(--geist-warning-dark);
  --themed-bg: var(--geist-warning-lighter);
  --themed-border: var(--geist-warning);
}

.geist-themed.geist-secondary {
  --themed-fg: var(--geist-secondary);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-secondary-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-secondary);
  --themed-border: var(--geist-secondary);
}

.geist-themed.geist-secondary-fill.geist-secondary-contrast {
  --themed-fg: var(--geist-secondary-dark);
  --themed-bg: var(--geist-secondary-lighter);
  --themed-border: var(--geist-secondary);
}

.geist-themed.geist-alert {
  --themed-fg: var(--geist-highlight-pink);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-alert-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-highlight-pink);
  --themed-border: var(--geist-highlight-pink);
}

.geist-themed.geist-violet {
  --themed-fg: var(--geist-violet);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-violet-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-violet);
  --themed-border: var(--geist-violet);
}

.geist-themed.geist-violet-fill.geist-violet-contrast {
  --themed-fg: var(--geist-violet-dark);
  --themed-bg: var(--geist-violet-lighter);
  --themed-border: var(--geist-violet);
}

.geist-themed.geist-lite {
  --themed-fg: var(--geist-foreground);
  --themed-bg: var(--accents-1);
  --themed-border: var(--accents-2);
}

.geist-themed.geist-ghost {
  --themed-fg: var(--accents-5);
  --themed-bg: transparent;
  --themed-border: transparent;
}

.geist-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  height: -webkit-fill-available;
  width: 100vw;
  overflow: auto;
  z-index: 2000;
}
.geist-overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  z-index: -1;
}
.geist-overlay-backdrop.active {
  opacity: var(--portal-opacity);
  pointer-events: all;
}
.focus-trap {
  outline: 0;
}

.geist-spacer {
  display: block;
  width: 1px;
  height: 1px;
  min-width: 1px;
  min-height: 1px;
  margin-left: calc(24px - 1px);
  margin-top: calc(24px - 1px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.geist-spacer.inline {
  display: inline-block;
  margin-top: 0;
}

.geist-overflow-scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.geist-disabled .geist-disabled-wall {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@-webkit-keyframes spin {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.15;
  }
}

@keyframes spin {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.15;
  }
}

.geist-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.geist-visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  top: -1000px;
  left: -1000px;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
}

.v3-colors {
  --note-border-color: var(--ds-gray-400);
  --note-fg: var(--ds-gray-900);
  --note-bg: transparent;
  border: 1px solid var(--note-border-color) !important;
  background: var(--note-bg) !important;
  color: var(--note-fg) !important;
}
.v3-colors ::-moz-selection {
  background: var(--note-fg) !important;
}

.v3-colors ::selection {
  background: var(--note-fg) !important;
}

.v3-colors.geist-secondary {
  --note-border-color: var(--ds-gray-400);
  --note-fg: var(--ds-gray-900);
}

.v3-colors.geist-secondary.geist-secondary-fill {
  --note-bg: var(--ds-gray-200);
  --note-border-color: var(--ds-gray-100);
}

.v3-colors.geist-success {
  --note-border-color: var(--ds-blue-400);
  --note-fg: var(--ds-blue-900);
  --note-bg: transparent;
}

.v3-colors.geist-success.geist-success-fill {
  --note-bg: var(--ds-blue-200);
  --note-border-color: var(--ds-blue-100);
}

.v3-colors.geist-error {
  --note-border-color: var(--ds-red-400);
  --note-fg: var(--ds-red-900);
  --note-bg: transparent;
}

.v3-colors.geist-error.geist-error-fill {
  --note-bg: var(--ds-red-200);
  --note-border-color: var(--ds-red-100);
}

.v3-colors.geist-warning {
  --note-border-color: var(--ds-amber-400);
  --note-fg: var(--ds-amber-900);
  --note-bg: transparent;
}

.v3-colors.geist-warning.geist-warning-fill {
  --note-bg: var(--ds-amber-200);
  --note-border-color: var(--ds-amber-100);
}

.v3-colors.geist-secondary {
  --note-border-color: var(--ds-gray-alpha-400);
  --note-fg: var(--ds-gray-alpha-900);
  --note-bg: transparent;
}

.v3-colors.geist-secondary.geist-secondary-fill {
  --note-bg: var(--ds-gray-alpha-200);
  --note-border-color: transparent;
}

.v3-colors.geist-alert {
  --note-border-color: var(--ds-red-400);
  --note-fg: var(--ds-red-900);
  --note-bg: transparent;
}

.v3-colors.geist-alert.geist-alert-fill {
  --note-bg: var(--ds-red-200);
  --note-border-color: var(--ds-red-100);
}

.v3-colors.geist-violet {
  --note-border-color: var(--ds-purple-400);
  --note-fg: var(--ds-purple-900);
  --note-bg: transparent;
}

.v3-colors.geist-violet.geist-violet-fill {
  --note-bg: var(--ds-purple-200);
  --note-border-color: var(--ds-purple-100);
}

.v3-colors.geist-cyan {
  --note-border-color: var(--ds-teal-400);
  --note-fg: var(--ds-teal-900);
  --note-bg: transparent;
}

.v3-colors.geist-cyan.geist-cyan-fill {
  --note-bg: var(--ds-teal-200);
  --note-border-color: var(--ds-teal-100);
}
