@import url("./geist-container.css");
@import url("./geist-text.css");
@import url("./geist-globals.css");
@import url("./dialog.css");

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: "rlig" 1, "calt" 0;
}
html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--geist-background);
  color: var(--geist-foreground);
  scroll-padding-top: var(--header-height);
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  color: var(--geist-secondary);
  text-decoration: none;
  transition: color 0.1s ease;
}
a:hover {
  color: var(--geist-foreground);
}
a.active {
  color: var(--geist-foreground);
}

* {
  box-sizing: border-box;
}
*::selection {
  background: var(--geist-selection);
}
*::-moz-selection {
  background: var(--geist-selection);
}
*::-webkit-selection {
  background: var(--geist-selection);
}

:root {
  --geist-space: 4px;
  --geist-space-2x: 8px;
  --geist-space-4x: 16px;
  --geist-space-8x: 32px;
  --geist-space-16x: 64px;
  --geist-space-24x: 96px;
  --geist-space-32x: 128px;
  --geist-space-48x: 192px;
  --geist-space-64x: 256px;
  --geist-space-small: 32px;
  --geist-space-medium: 40px;
  --geist-space-large: 48px;
  --geist-space-gap: 24px;
  --geist-space-gap-half: 12px;
  --geist-space-gap-quarter: var(--geist-space-2x);
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-space-negative: -4px;
  --geist-space-2x-negative: -8px;
  --geist-space-4x-negative: -16px;
  --geist-space-8x-negative: -32px;
  --geist-space-16x-negative: -64px;
  --geist-space-24x-negative: -96px;
  --geist-space-32x-negative: -128px;
  --geist-space-48x-negative: -192px;
  --geist-space-64x-negative: -256px;
  --geist-space-small-negative: -32px;
  --geist-space-medium-negative: -40px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-negative: -24px;
  --geist-space-gap-half-negative: -12px;
  --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
  --geist-gap-negative: var(--geist-space-gap-negative);
  --geist-gap-half-negative: var(--geist-space-gap-half-negative);
  --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
  --geist-gap-double-negative: var(--geist-space-large-negative);
  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1000px;
  --geist-page-width-with-margin: 1048px;
  --geist-radius: 5px;
  --geist-marketing-radius: 8px;
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  --header-background: hsla(0, 0%, 100%, 0.8);
  --geist-form-large-font: 1rem;
  --geist-form-large-line-height: 1.5rem;
  --geist-form-large-height: var(--geist-space-large);
  --geist-form-small-font: 0.875rem;
  --geist-form-small-line-height: 0.875rem;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-font: 0.875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium);
}

/* ---- COLORS ---- */

:root,
.dark-theme .invert-theme {
  --geist-foreground: #000000;
  --geist-background: #ffffff;
  --geist-selection: var(--geist-cyan-light);
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999999;
  --accents-4: #888888;
  --accents-5: #666666;
  --accents-6: #444444;
  --accents-7: #333333;
  --accents-8: #111111;

  --geist-error-light: #ff1a1a;
  --geist-error: #ee0000;
  --geist-error-dark: #c50000;
  --geist-error-lighter: #f7d4d6;
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #e3d7fc;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;

  --geist-link-color: var(--geist-success);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-highlight-purple);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  --dropdown-triangle-stroke: #ffffff;
  --scroller-start: #ffffff;
  --scroller-end: hsla(0, 0%, 100%, 0);
  --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --portal-opacity: 0.75;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
}

.dark-theme,
.invert-theme {
  --geist-foreground: #ffffff;
  --geist-background: #000000;
  --geist-selection: var(--geist-highlight-purple);
  --accents-1: #111111;
  --accents-2: #333333;
  --accents-3: #444444;
  --accents-4: #666666;
  --accents-5: #888888;
  --accents-6: #999999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --geist-link-color: var(--geist-success-light);
  --geist-marketing-gray: var(--accents-1);
  --geist-code: var(--geist-cyan-light);
  --geist-error-light: #ff3333;
  --geist-error: #ff0000;
  --geist-error-dark: #e60000;
  --dropdown-box-shadow: 0 0 0 1px var(--accents-2);
  --dropdown-triangle-stroke: #333333;
  --scroller-start: #000000;
  --scroller-end: transparent;
  --header-background: rgba(0, 0, 0, 0.5);
  --header-border-bottom: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
  --shadow-smallest: 0 0 0 1px var(--accents-2);
  --shadow-small: 0 0 0 1px var(--accents-2);
  --shadow-medium: 0 0 0 1px var(--accents-2);
  --shadow-large: 0 0 0 1px var(--accents-2);
  --shadow-sticky: 0 0 0 1px var(--accents-2);
  --shadow-hover: 0 0 0 1px var(--geist-foreground);
}

/* Colors from Note */
.geist-themed.geist-secondary {
  --themed-fg: var(--geist-secondary);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}
.geist-themed.geist-success {
  --themed-fg: var(--geist-success);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-success-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-success);
  --themed-border: var(--geist-success);
}

html:not(.dark-theme) .geist-themed.geist-success-fill.geist-success-contrast {
  --themed-fg: var(--geist-success-dark);
  --themed-bg: var(--geist-success-lighter);
  --themed-border: var(--geist-success);
}

.geist-themed.geist-error {
  --themed-fg: var(--geist-error);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-error-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-error);
  --themed-border: var(--geist-error);
}

html:not(.dark-theme) .geist-themed.geist-error-fill.geist-error-contrast {
  --themed-fg: var(--geist-error-dark);
  --themed-bg: var(--geist-error-lighter);
  --themed-border: var(--geist-error);
}

.geist-themed.geist-warning {
  --themed-fg: var(--geist-warning);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-warning-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-warning);
  --themed-border: var(--geist-warning);
}

.geist-themed.geist-warning-fill.geist-warning-contrast {
  --themed-fg: var(--geist-warning-dark);
  --themed-bg: var(--geist-warning-lighter);
  --themed-border: var(--geist-warning);
}

.geist-themed.geist-secondary {
  --themed-fg: var(--geist-secondary);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-secondary-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-secondary);
  --themed-border: var(--geist-secondary);
}

.geist-themed.geist-secondary-fill.geist-secondary-contrast {
  --themed-fg: var(--geist-secondary-dark);
  --themed-bg: var(--geist-secondary-lighter);
  --themed-border: var(--geist-secondary);
}

.geist-themed.geist-alert {
  --themed-fg: var(--geist-highlight-pink);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-alert-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-highlight-pink);
  --themed-border: var(--geist-highlight-pink);
}

.geist-themed.geist-violet {
  --themed-fg: var(--geist-violet);
  --themed-bg: var(--geist-background);
  --themed-border: var(--themed-fg);
}

.geist-themed.geist-violet-fill {
  --themed-fg: #fff;
  --themed-bg: var(--geist-violet);
  --themed-border: var(--geist-violet);
}

.geist-themed.geist-violet-fill.geist-violet-contrast {
  --themed-fg: var(--geist-violet-dark);
  --themed-bg: var(--geist-violet-lighter);
  --themed-border: var(--geist-violet);
}

.geist-themed.geist-lite {
  --themed-fg: var(--geist-foreground);
  --themed-bg: var(--accents-1);
  --themed-border: var(--accents-2);
}

.geist-themed.geist-ghost {
  --themed-fg: var(--accents-5);
  --themed-bg: transparent;
  --themed-border: transparent;
}

.geist-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  height: -webkit-fill-available;
  width: 100vw;
  overflow: auto;
  z-index: 2000;
}
.geist-overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  z-index: -1;
}
.geist-overlay-backdrop.active {
  opacity: var(--portal-opacity);
  pointer-events: all;
}
.focus-trap {
  outline: 0;
}

.geist-spacer {
  display: block;
  width: 1px;
  height: 1px;
  min-width: 1px;
  min-height: 1px;
  margin-left: calc(24px - 1px);
  margin-top: calc(24px - 1px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.geist-spacer.inline {
  display: inline-block;
  margin-top: 0;
}

.geist-drawer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.geist-drawer.show {
  pointer-events: auto;
}

.geist-drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4000;
  pointer-events: none;
  opacity: 0;
  transform: translateZ(101px);
  transition: opacity 0.2s cubic-bezier(0.05, 0.86, 0.47, 1.02);
  background: rgba(0, 0, 0, 0.7);
  will-change: opacity;
}

.geist-drawer.show .geist-drawer-overlay {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s cubic-bezier(0.05, 0.86, 0.47, 1.02);
}

.geist-drawer-container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  padding-bottom: 0;
  z-index: 4001;
  overflow-y: auto;
  box-shadow: var(--shadow-medium);
  background: var(--geist-background);
  border-top-left-radius: var(--geist-marketing-radius);
  border-top-right-radius: var(--geist-marketing-radius);
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: transform 0.15s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    opacity 0.2s ease 0.1s, height 0.2s ease;
  transform: translate3d(0, 100%, 102px);
  will-change: transform, opacity;
}

.geist-drawer.show .geist-drawer-container {
  opacity: 1;
  transition: transform 0.2s cubic-bezier(0.05, 0.86, 0.47, 1.02),
    opacity 0.2s ease, height 0.2s ease;
}

.geist-overflow-scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.geist-disabled .geist-disabled-wall {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@-webkit-keyframes spin {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.15;
  }
}

@keyframes spin {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.15;
  }
}

.geist-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.geist-visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  top: -1000px;
  left: -1000px;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
}
