[class^="Mui"] {
  font-family: var(--font-sans);
}

hr.MuiDivider-root {
  background-color: var(--geist-secondary);
  opacity: 0.5;
}

.MuiBreadcrumbs-separator {
  color: var(--geist-secondary);
}

.MuiSkeleton-rect {
  border-radius: var(--geist-radius);
}

.MuiSkeleton-wave {
  background: var(--accents-2) !important;
}

.MuiSkeleton-wave::after {
  background: linear-gradient(
    90deg,
    transparent,
    var(--accents-1),
    transparent
  ) !important;
}

.MuiRating-icon.MuiRating-iconEmpty {
  color: var(--geist-secondary);
}
.MuiRating-icon.MuiRating-iconFilled {
  color: var(--geist-warning);
}
/* .MuiRating-root.Mui-disabled {
  cursor: not-allowed;
} */

.MuiTooltip-arrow {
  color: var(--geist-foreground);
}
.MuiTooltip-tooltip {
  /* unset some values */
  color: inherit;
  padding: unset;
  font-size: unset;
  max-width: unset;
  font-weight: unset;
  line-height: unset;
  border-radius: unset;
  background-color: unset;

  color: var(--geist-background);
  border-radius: var(--geist-radius);
  width: 200px;
  padding: var(--geist-gap);
  background: var(--geist-foreground);
}

/* Override Breadcrumb */
.MuiTypography-colorTextSecondary {
  color: var(--geist-secondary);
}
