.live {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--accents-2);
}

.live > :last-child {
  border-bottom-left-radius: var(--geist-radius);
  border-bottom-right-radius: var(--geist-radius);
}

.live .preview {
  padding: var(--geist-gap) 0;
}

.live pre.error {
  padding: 1rem;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
  text-overflow: ellipsis;
  font-family: var(--font-mono);
  font-size: 0.75rem;
  background-color: var(--geist-foreground);
  color: var(--geist-error);
}

.editor {
  background-color: var(--accents-1);
  color: var(--geist-foreground);
  position: relative;
  white-space: pre-line;
  line-height: 1.5;
  overflow: hidden;
}

:global(.dark-theme) .editorArea pre,
:global(.dark-theme) .editorArea textarea {
  --comment: #707070;
  --variable: #7e7e7e;
}

.editor summary {
  display: flex;
  align-items: center;
  padding: var(--geist-gap-half) var(--geist-gap);
  border-top: 1px solid var(--accents-2);
}

.editorArea {
  font-size: 0.75rem;
  overflow: hidden;
  border-radius: 6px;
}

.reset {
  cursor: pointer;
  display: inline-flex;
  background: transparent;
  border: none;
  color: var(--accents-5);
  margin-left: auto;
}

.copy,
.reset {
  background: transparent;
  border: none;
  height: 32px;
  width: 32px;
}

.actions {
  display: flex;
  grid-gap: 4px;
  gap: 4px;
  margin-left: auto;
  margin-right: -8px;
}

.copy[data-hover],
.reset[data-hover] {
  background: var(--accents-2) !important;
}

.copy svg,
.reset svg {
  height: 16px;
  width: 16px;
}

.editorTrigger {
  display: flex;
  align-items: center;
  padding: 5px 24px;
  height: 42px;
  cursor: pointer;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media (max-width: 600px) {
  .editor-area,
  .live pre.error {
    font-size: 1rem;
  }
}
