.container {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--themed-fg);
}

.container:not(:global(.geist-themed)) {
  --themed-fg: var(--geist-foreground);
  --themed-bg: var(--geist-background);
  --themed-border: var(--accents-2);
}

.select {
  cursor: pointer;
  font-size: 100%;
  font: inherit;
  -webkit-appearance: none;
  appearance: none;
  font-size: var(--geist-form-font);
  height: var(--geist-form-height);
  line-height: var(--geist-form-line-height);
  text-rendering: auto;
  width: 100%;
  border-radius: var(--geist-radius);
  border: 1px solid var(--themed-border);
  background: var(--themed-bg);
  color: var(--themed-fg);
  padding: 0 var(--geist-gap-half);
  padding-right: calc(1.5 * var(--geist-gap));
  transition: border-color 0.15s ease;
}

@media (hover: hover) {
  .container:not(.disabled):hover .select {
    border-color: var(--geist-foreground);
  }

  .container:not(.disabled):hover .prefix,
  .container:not(.disabled):hover .suffix {
    color: var(--geist-foreground);
  }
}

.container:not(:global(.geist-themed)) .select:global(.focus-visible):focus {
  border-color: var(--accents-5);
  outline: none;
}

.select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--geist-foreground);
}

.prefix,
.suffix {
  display: inline-flex;
  position: absolute;
  pointer-events: none;
  color: var(--accents-5);
  transition: color 0.15s ease;
}

.suffix {
  right: var(--geist-gap-half);
}

.prefix {
  left: var(--geist-gap-half);
}

.prefix + .select {
  padding-left: calc(1.5 * var(--geist-gap));
}

.select[disabled] {
  opacity: 1;
}

.disabled .prefix,
.disabled .suffix,
.select[disabled] {
  cursor: not-allowed;
  background: var(--accents-1);
  color: var(--accents-3);
  border-color: var(--accents-2);
}

.placeholder {
  color: var(--accents-3);
}

.large {
  font-size: var(--geist-form-large-font);
  height: var(--geist-form-large-height);
  line-height: var(--geist-form-large-line-height);
}

.small {
  font-size: var(--geist-form-small-font);
  height: var(--geist-form-small-height);
}

.xsmall {
  height: 24px;
  font-size: 12px;
  padding: 0 24px;
}

.xsmallContainer svg {
  height: 12px;
  width: 12px;
}

.xsmallContainer .prefix + .select {
  padding-left: 24px;
}

.xsmallContainer .suffix {
  right: 8px;
}

.xsmallContainer .prefix {
  left: 7px;
}

@media (max-width: 600px) {
  .select {
    font-size: 1rem;
  }

  .select.xsmall {
    font-size: 12px;
  }
}
