.note {
  min-height: var(--geist-form-height);
  display: flex;
  align-items: center;

  padding: 7px var(--geist-gap-half);
  flex-grow: 1;
  justify-content: space-between;
  gap: 12px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
  box-sizing: border-box;
}

.note.disabled {
  background: transparent !important;
  border: 1px solid var(--ds-gray-alpha-200) !important;
  color: var(--ds-gray-700) !important;
}

.note.disabled button {
  border: 1px solid var(--ds-gray-alpha-400) !important;
  background: var(--ds-gray-100) !important;
  color: var(--ds-gray-700) !important;
  pointer-events: none;
}

.note.disabled svg {
  color: var(--ds-gray-700) !important;
}

@media screen and (max-width: 600px) {
  .note {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
}

.small {
  padding: 3px var(--geist-gap-half);
  min-height: var(--geist-form-small-height);
}

.large {
  padding: 11px var(--geist-gap-half);
  min-height: var(--geist-form-large-height);
  font-size: var(--geist-form-large-font);
}

.center {
  text-align: center;
}
