.note {
  padding: 7px var(--geist-gap-half);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--geist-gap-half);
  min-height: var(--geist-form-height);
  border-radius: var(--geist-radius);
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .note {
    flex-direction: column;
    align-items: flex-start;
  }
}

.small {
  padding: 3px var(--geist-gap-half);
  min-height: var(--geist-form-small-height);
}

.large {
  padding: 11px var(--geist-gap-half);
  min-height: var(--geist-form-large-height);
  font-size: var(--geist-form-large-font);
}

.center {
  text-align: center;
}

/* --- */

/* todo: move to global scope? */
